<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Canteen Feedback</title>
</head>

<body>
    <div id="alert_box" class="fixed top-0 left-0 flex-col flex m-2 bg-white opacity-0 w-[20rem]">
        <p class="m-2"></p>
        <div class="h-[5px] w-0 
        bg-green-400 transition-all duration-[4s]"></div>
    </div>

    <header class="flex-header">
        <img src="./../static/raman.jpeg" alt="Avatar" class="hedear-img h-[60px]">
        <div class="flex items-center">
            {% if user.type==1 or user.type ==2 %}
            <a href="{{url_for('admin')}}"><button class="review-button"
                    style="font-family: 'Unbounded';">Admin</button></a>

            <!-- <a href="{{url_for('admin')}}" class="review-button"><button >Admin</button></a> -->
            {% endif %}
            <!-- <a href="{{url_for('get_review')}}"><button class="review-button" style="font-family: 'Unbounded';">Write a
                    Review</button></a> -->
            <button class="review-button" id="openModal" style="font-family: 'Unbounded';">Write a Review</button>
            {% if user.is_authenticated %}
            <a href="{{url_for('logout')}}"><button class="review-button"
                    style="font-family: 'Unbounded';">Logout</button></a>
            <div class="avatar">
                <img src={{user.profile_url}} alt="Avatar">
            </div>
            {% else %}
            <a href="{{url_for('login')}}"><button class="review-button"
                    style="font-family: 'Unbounded';">Login</button></a>
            {% endif %}
        </div>
    </header>
    <div class="content items-center md:items-top">
        <section class="main-content md:h-full" style="flex: 3;">
            <div class="search-container w-full md:w-[60%]">
                <input type="text" placeholder="Search for your canteen..." id="search_item" style="width: 100%;">
                <button class="search-button" onclick="search()" class="hover:cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.76-2.86-5-5.64-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.78 2.58 5.17 5.34 5.64a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25a1 1 0 0 0 1.41-1.41L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                </button>
            </div>
            <div class="dropdown w-full md:w-[60%]" id="searchDropdown">
                <div class="dropdown-content" id="searchResults">
                    <!-- Search results will be displayed here -->
                </div>
            </div>

            <div class="hidden m-5 gap-y-5" id="item_content">
                <div class="">
                    <div class="text-2xl font-bold">Review Summary</div>
                    <div id="summary"></div>
                </div>
                
                <div class="star w-[300px] sm:w-[500px]">
                    <span class="rateHeader font-bold">User Rating</span>
                    <!-- <span class="fa fa-star rated"></span>
                    <span class="fa fa-star rated"></span>
                    <span class="fa fa-star rated"></span>
                    <span class="fa fa-star rated"></span>
                    <span class="fa fa-star"></span>
                    <p>3.9 average based on 200 foodies.</p> -->
                    <div class="row" id="rating_count_display">
                        
                        <div class="hidden" id="dummy_rating_item">
                            <div class="data">
                                5 star
                            </div>
                            <div class="progressBar">
                                <div class="progressContainer">
                                    <div class="bar"></div>
                                </div>
                            </div>
                            <div class="data right">
                                120
                            </div>
                        </div>

                    </div>
                </div>

                <div>
                    <div class="text-2xl font-bold">Search reviews by tag</div>
                    <div class="mb-5 flex flex-wrap justify-center" id="item_tags"></div>
                    <div class="h-[200px] list-none w-full p-2 overflow-y-auto hidden bg-gray-50" id="item_tags_reviews"></div>
                </div>
                

                <div class="flex-col items-center gap-y-5 w-full" id="item_detail">
                    <div style="display: flex; flex-wrap: wrap;justify-content: center;" class="gap-y-5">
                        <div class="chart-container" style="width: 65%;">
                            <canvas id="lineplot"></canvas>
                        </div>
                        <div class="chart-container" style="width: 20rem;">
                            <canvas id="myPieChart"></canvas>
                        </div>
                    </div>
                </div>

            </div>

            <div style="width: 100%;" class="answerContent">
                
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <!-- <form id="reviewForm" , method="POST" action="review">
                            <label for="contentItem" class="title">Select a Content Item:</label>
                            <select id="contentItem" name="contentItem">
                                <option value="Non-veg noodles">Non-veg Noodles</option>
                                <option value="Veg noodles">Veg Noodles</option>
                                <option value="Maggi">Maggi</option>
                                <option value="Panipuri">Panipuri</option>
                                <option value="Sandwich">Sandwich</option>
                                <option value="Chicken roll">Chicken Roll</option>
                                <option value="Veg roll">Veg Roll</option>
                                <option value="Coffee">Coffee</option>
                                <option value="Ice tea">Ice tea</option>
                                <option value="Tea">Tea</option>
                                <option value="Fruit juice">Fruit Juice</option>
                            </select>

                            <label for="review" class="title">Your Review:</label>
                            <textarea id="review" name="review" rows="6" cols="40"
                                placeholder="Write your review here"></textarea>

                            <button type="submit" class="submit"
                                style="border: 2px solid; padding: 6px; border-radius: 5px;">Submit Review</button>
                        </form> -->

                        <div class="container1">
                            <h1 class="title">Write a Review</h1>
                            <form id="reviewForm" method="POST" action="review" class="review-form">
                                <div class="form-group">
                                    <label for="contentItem">Select a Content Item:</label>
                                    <select id="contentItem" name="contentItem" class="select-box">
                                        <option value="Non-veg noodles">Non-veg Noodles</option>
                                        <option value="Veg noodles">Veg Noodles</option>
                                        <option value="Maggi">Maggi</option>
                                        <option value="Panipuri">Panipuri</option>
                                        <option value="Sandwich">Sandwich</option>
                                        <option value="Chicken roll">Chicken Roll</option>
                                        <option value="Veg roll">Veg Roll</option>
                                        <option value="Coffee">Coffee</option>
                                        <option value="Ice tea">Ice tea</option>
                                        <option value="Tea">Tea</option>
                                        <option value="Fruit juice">Fruit Juice</option>
                                        <!-- Add more options as needed -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="review">Your Review:</label>
                                    <textarea id="review" name="review" rows="6" cols="40" placeholder="Write your review here"
                                        class="text-area"></textarea>
                                </div>
                                <button type="submit" class="submit-button" style="background-color: #2980b9;">Submit Review</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section style="flex:1.4;" class="sidebar w-fit md:h-full">
            <div class="chart-container" style="position: relative; display: flex; justify-content: center;">
                <canvas id="myChart"></canvas>
            </div>
            <div class="hot-topics flex-col gap-y-2">
                <ul>
                    {% if not user.is_authenticated %}
                    <h2>Recommended items</h2>
                    {% else %}
                    <h2>Recommended for you</h2>
                    {% endif %}

                    {% if recommend_items is not none %}

                    {% for item in recommend_items %}
                    <li>{{item}}</li>
                    {% endfor %}
                    {%endif%}
                </ul>
            </div>
        </section>
    </div>

    <!-- star -->
    
    <!-- <footer>
        <p>&copy; Milan Hackthon 2023 From Raman Block</p>
    </footer> -->
</body>
<script type="text/javascript">
    // for showing alert
    showAlert = (msg) => {
        alert_box.firstElementChild.innerText = msg;
        alert_box.classList.replace("opacity-0", "opacity-100");
        alert_box.firstElementChild.nextElementSibling.classList.add("w-full");


        setTimeout(() => {
            alert_box.classList.replace("opacity-100", "opacity-0");
            alert_box.firstElementChild.nextElementSibling.classList.remove("w-full")
        }, 4000)
    }




    message = "{{ messages }}"
    if (message !== "None") {
        showAlert(message)
    }

    positive_reviews = []
    negative_reviews = []
    item_line_chart = [1]
    rating_pie_chart = 1
    rating_array = 1
    curr_search_value = ""
    search_item = document.getElementById("search_item")
    let canva = document.getElementsByClassName("canva")
    positive_list = document.getElementById("positive_review_list")
    negative_list = document.getElementById("negative_review_list")
    item_tags = document.getElementById("item_tags")
    item_tags_reviews = document.getElementById("item_tags_reviews")
    item_content = document.getElementById("item_content")
    dummy_rating_item = document.getElementById("dummy_rating_item")
    rating_count_display = document.getElementById("rating_count_display")
    summary_div = document.getElementById("summary")
    canva.width = 400
    canva.height = 300
    is_tag_clicked = false
    prev_li = ""
    // is_searched = 

    var item_list = {{ item_list | safe}}


    function jaccardSimilarity(word1, word2) {
        var max_common = 0, curr = 0;

        for (let i = 0; i < (word2.length - word1.length + 1); i++) {
            curr = 0;
            for (let j = 0; j < word1.length; j++) {
                if (word1[j] === word2[i + j]) curr++;
            }
            max_common = Math.max(max_common, curr)
        }
        console.log(max_common)
        return max_common / word1.length
    }


    data = []
    search_item.addEventListener("keyup", () => {
        curr_search_value = search_item.value
        data = []
        for (let i = 0; i < item_list.length; i++) {
            similarity = jaccardSimilarity(search_item.value, item_list[i])
            if (similarity > .5) {
                data.push(item_list[i])
            }
        }
        const searchResults = document.getElementById("searchResults");
        searchResults.innerHTML = ""

        if (data.length > 0) {
            data.forEach(item => {
                const result = document.createElement("a");
                result.textContent = item;
                result.addEventListener("click", () => {
                    search_item.value = item
                    document.getElementById("searchResults").style.display = "none";
                    search();
                })
                searchResults.appendChild(result);
            });
            searchResults.style.display = "block"
        }
    })

    function search() {
        const searchTerm = document.getElementById("search_item").value.toLowerCase();

        if (item_list.indexOf(searchTerm) === -1) {
            showAlert("Item not present")
        }

        $.ajax({
            type: "POST",
            url: "/search",
            data: JSON.stringify([{ "item_name": searchTerm }]),
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                item_content.classList.replace("hidden", "flex")

                rating_count_display.innerHTML = ''
                item_tags.innerHTML = ''



                item_tags_list = Object.keys(result[4])
                item_tags_reviews_list = result[4]

                summary = result[5]

                each_rating_count = result[3]
                console.log(summary)
                summary_div.textContent = summary

                var sum = 0;

                for (var key in each_rating_count) {
                    if (each_rating_count.hasOwnProperty(key)) {
                        sum += each_rating_count[key];
                    }
                }


                for(let i = 0; i < Object.keys(each_rating_count).length; i++) {
                    let div = dummy_rating_item.cloneNode(true);
                    div.classList.replace("hidden", "flex");
                    div.firstElementChild.textContent = 5 - i;
                    bar_width = Math.ceil((each_rating_count[5 - i]*100) / sum);
                    console.log(bar_width)
                    div.firstElementChild.nextElementSibling.firstElementChild.firstElementChild.classList.add("w-["+bar_width + "%]")
                    div.firstElementChild.nextElementSibling.nextElementSibling.textContent = each_rating_count[5 - i]
                    rating_count_display.appendChild(div)
                }

                for (let i = 0; i < item_tags_list.length; i++) {
                    let li = document.createElement("li")
                    li.textContent = item_tags_list[i]
                    li.classList.add("inline", "bg-gray-100", "m-1", "p-1", "rounded", "hover:cursor-pointer")
                    item_tags.appendChild(li)

                    li.addEventListener("click", () => {
                        if (!is_tag_clicked || prev_li !== li) {
                            item_tags_reviews.classList.replace("hidden", "block")
                            item_tags_reviews.innerHTML = ""
                            curr_reviews = item_tags_reviews_list[li.textContent];
                            for (let j = 0; j < curr_reviews.length; j++) {
                                li2 = document.createElement("li");
                                li2.textContent = curr_reviews[j];
                                item_tags_reviews.appendChild(li2)
                                li2.classList.add("bg-[#fffeeb]", "m-1", "p-1", "rounded", "w-fit")
                                prev_li = li
                            }
                            if(prev_li !== li){}
                            else{
                                is_tag_clicked = !is_tag_clicked
                            }
                            
                        }
                        else {
                            item_tags_reviews.classList.replace("block", "hidden")
                            item_tags_reviews.innerHTML = '';
                            is_tag_clicked = !is_tag_clicked
                        }

                    })
                }

                positive_reviews = result[1].split(',')
                negative_reviews = result[2].split(',')

                curr_search_value = searchTerm

                console.log(result)

                rating_array = result[0]

                var d = new Date();
                d.setDate(d.getDate() - 1);

                date = []
                var d = new Date();
                for (let i = 0; i < rating_array.length; i++) {
                    d.setDate(d.getDate() - 1)
                    date.push(d.getDate().toString() + " " + d.toLocaleString("en-US", { month: "short" }).toString())
                }
                date.reverse()
                if (item_line_chart != 1) {
                    item_line_chart.destroy()
                }
                item_line_chart = creatLineChart(date, rating_array, item);

                n_ratings = { 'Positive': positive_reviews.length, 'Negative': negative_reviews.length };
                if (rating_pie_chart != 1) {
                    rating_pie_chart.destroy()
                }
                rating_pie_chart = DrawPieChart(n_ratings);
            }
        });

    }

    document.getElementById("search_item").addEventListener("keypress", send_item);
    function send_item(event) {

        if (event.key == "Enter") {
            search();
        }
    }


    var item = curr_search_value;

    function creatLineChart(x, y, item) {
        var ctx = document.getElementById('lineplot').getContext('2d');

        const barColors = ["red", "green", "blue", "orange", "brown"];
        var lineplot = new Chart("lineplot", {
            type: "line",
            data: {
                labels: x,
                datasets: [{
                    label: 'Rating',
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "#9681EB",
                    borderColor: "#6527BE",
                    data: y
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Variation of average rating in last 16 days',
                        fontSize: 30
                    }
                },
                legend: { display: false },
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 5
                    },
                    yAxes: [{ ticks: { min: 6, max: 16 } }],
                }
            }
        });
        return lineplot
    }

    // JSON data
    var jsonData = {{ top5| safe }};

    // Function to create a bar chart
    function createBarChart(data) {
        var ctx = document.getElementById('myChart').getContext('2d');
        var labels = Object.keys(data);
        var values = Object.values(data);

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Ratings',
                    data: values,
                    backgroundColor: '#9681EB', // Bar color
                    borderColor: '#6527BE', // Border color
                    borderWidth: 2
                }],

            },
            options: {
                plugins: {
                    title: {
                        display: true, // Display the title
                        text: 'Average ratings of Top 5 Food Items in the last week', // Title text
                        fontSize: 30 // Font size for the title
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            fontSize: 25 // Increase the font size for x-axis labels
                        }
                    },
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 5
                    }
                }
            }
        });
    }
    createBarChart(jsonData);


    function DrawPieChart(jsondata) {
        var plotvalues = Object.values(jsondata);
        var allLabels = Object.keys(jsondata);

        // Get a reference to the canvas element
        var ctx = document.getElementById('myPieChart').getContext('2d');

        // Define the data for the pie chart
        var data = {
            labels: allLabels,
            datasets: [{
                data: plotvalues, // The data values for each segment
                backgroundColor: ['#9381e4', '#93A8AC'], // The colors for each segment
            }]
        };

        // Create the pie chart
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                legend: { display: false },
                plugins: {
                    title: {
                        display: true, // Display the title
                        text: 'Count of positive and negative points in all reviews', // Title text
                        fontSize: 30 // Font size for the title
                    }
                },

                devicePixelRatio: 2, // Increase the device pixel ratio for better quality
                scales: {

                }
            }
        })
        return myPieChart
    };

</script>

<script>
    const modal = document.getElementById('myModal');
    const modalContent = document.querySelector('.modal-content');
    const btn = document.getElementById('openModal');
    const span = document.getElementsByClassName('close')[0];
    
    var modal_open = false;

    btn.onclick = () => {
        console.log(modal_open)
        let temp = "{{ user.is_authenticated }}";
        if(modal_open) {
            modal.style.display = 'none';
            modal.classList.replace('show', 'hide');
        }
        else {
            if (temp !== "False") {
                modal.style.display = 'block';
                modal.classList.replace('hide', 'show');
            }
            else {
                showAlert("Login to write a review")
            }
        }
        modal_open = !modal_open
        
    };

    span.onclick = () => {
        modal.classList.remove('show');
        modal.classList.add('hide');
        modal_open = !modal_open

        // Add a delay to allow the animation to complete before hiding the modal
        setTimeout(() => {
            modal.style.display = 'none';
        }, 500); // This should match the transition duration in CSS
    };

    // Close the modal if user clicks anywhere outside of it
    window.onclick = (event) => {
        if (event.target !== modal && !modal.contains(event.target) && event.target !== btn && modal_open) {
            modal_open = !modal_open
            modal.classList.remove('show');
            modal.classList.add('hide');

            setTimeout(() => {
                modal.style.display = 'none';
            }, 500); // This should match the transition duration in CSS
        }
    };
</script>


</html>