Flask==2.3.3
Flask_Login==0.6.2
Flask_SQLAlchemy==3.1.1
python-dotenv==1.0.0
SQLAlchemy==2.0.21
Werkzeug==2.3.7
jinja2==3.1.2
Authlib==1.2.1
requests==2.31.0
PyABSA==2.3.3
numpy ==1.24.0
gensim==3.8.3
nltk==3.8.1